@model teste_fiap.Models.Aluno

@{
    ViewBag.Title = "Excluir";
}
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Excluir</h2>
                </div>
                <div class="modal-body">
                    <h3>Você tem certeza que quer excluir esse aluno?</h3>
                    <br />
                    <div class="modal-footer">
                        <div>


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Sim" class="btn btn-danger" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                            </div>
                            }
                        </div>
                        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
       